:root {
  --card-width: 300px;
  --link-main-color: #039be6;
  --card-color: #8dc34a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f2f4;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: var(--card-width);

  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  justify-content: flex-start;
  font-size: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 40px;
  background-color: #fafafa;
}

section {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  padding: 15px 30px;
  flex-grow: 1;
}

section,
section > * {
  flex-grow: 1;
}

header,
.userStatus {
  background-color: #ffffff;
}

header {
  width: 100%;
  padding: 20px;
  font-weight: bold;
}

.userPhoto img {
  width: calc((var(--card-width)) / 2.4);
  height: calc((var(--card-width)) / 2.4);
  object-fit: cover;
  border-radius: 50%;
}

.userPhoto {
  position: relative;
}

.userStatus {
  width: 26px;
  height: 26px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -10px;
  left: 117px;
}

.noStar {
  color: #e7e4e8;
}

.haveStar {
  color: #ffc109;
}

h3 {
  font-size: 18px;
}

h4,
.haveStar,
.noStar {
  font-size: 16px;
}

h3,
h4 {
  margin: 15px;
}

h3,
h4,
.location a,
.networkStatus p,
.viewCv,
.offer {
  font-weight: bold;
}

.userInfo {
  margin: 20px 0;
  line-height: 1.5;
}

.viewCv,
.offer {
  display: block;
  width: 200px;
  border: 1px solid var(--link-main-color);
  border-radius: 10px;
  padding: 10px 0;
  margin: 7px auto;
  text-transform: uppercase;
  transition: 500ms;
  flex-grow: 0;
}

.viewCv {
  color: var(--link-main-color);
}

.viewCv:hover {
  color: #fafafa;
  background-color: var(--link-main-color);
}

.offer {
  background-color: var(--link-main-color);
  color: #fafafa;
}

.offer:hover {
  background-color: var(--card-color);
  border: 1px solid var(--card-color);
}

p,
a,
.location i {
  color: #8e8e99;
}

footer {
  padding-bottom: 10px;
  margin-top: auto;
}

.networkStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networkStatus i {
  font-size: 7px;
  color: var(--card-color);
  padding: 5px;
}
